<% if @cart %>
  <% if params[:controller] == "orders" %>
    <div class="block text-white text-sm bg-red-700 px-4 py-2 rounded-full flex items-center">
      <%= render "shared/shopping_cart" %>
      <div class="ml-4 font-semibold">
        <%= turbo_frame_tag "cart-count" do %>
          <%= @cart.item_count %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= link_to cart_path(@cart),
                data: { turbo_frame: "cart", test_id: "cart" },
                class: "block text-white text-sm bg-red-700 px-4 py-2 rounded-full flex items-center" do %>
      <%= render "shared/shopping_cart" %>
      <div class="ml-4 font-semibold">
        <%= turbo_frame_tag "cart-count" do %>
          <%= @cart.item_count %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
