<section class="flex flex-col justify-center items-center">
  <%= form_with model: @order, class: "w-80 sm:w-128", data: { controller: "order" } do |form| %>
    <div class="flex py-4 sm:py-8 border-b" role="group">
      <legend class="w-32 pr-8 uppercase font-bold text-sm text-gray-800">Method</legend>
      <div class="text-gray-700 font-semibold space-y-4">
        <div class="flex items-center space-x-2">
          <%= form.radio_button :delivery,
                                true,
                                autocomplete: "off",
                                data: { action: "input->order#applyParams input->order#chooseMethod" } %>
          <%= form.label :delivery_true, "Delivery" %>
        </div>
        <div class="flex items-center space-x-2">
          <%= form.radio_button :delivery,
                                false,
                                autocomplete: "off",
                                data: { action: "input->order#applyParams input->order#chooseMethod" } %>
          <%= form.label :deliver_false, "Pickup" %>
        </div>
      </div>
    </div>

    <div class="flex py-4 sm:py-8 border-b" role="group">
      <legend class="w-32 pr-8 uppercase font-bold text-sm text-gray-800">Address</legend>
      <%= turbo_frame_tag form.field_id(:address, :turbo_frame), class: "contents" do %>
        <%= form.hidden_field :address %>
        <div class="flex flex-col">
          <% unless @order.delivery? %>
            <h3 class="font-semibold text-sm text-gray-800">
              <%= @cart.restaurant_name %>
            </h3>
          <% end %>
          <div class="pr-4">
            <%= @order.address %>
          </div>
        </div>
        <a href="<%= new_order_path %>" data-order-target="address" hidden></a>
      <% end %>
    </div>

    <div class="flex py-4 sm:py-8" role="group">
      <legend class="w-32 pr-8 uppercase font-bold text-sm text-gray-800">Summary</legend>
      <%= render_component(CartComponent, line_items: @cart.line_items) %>
    </div>

    <div class="w-full">
      <%= turbo_frame_tag "cart-pay" do %>
        <% render partial: "orders/pay", locals: { total: @cart.total, disabled: @cart.empty? } %>
      <% end %>
    </div>
  <% end %>
</section>
