<%= turbo_frame_tag dom_id(line_item) do %>
  <li class="w-full py-4 border-b flex items-center">
    <div class="mr-4">
      <div class="w-8 h-8 bg-black text-white rounded-full flex items-center justify-center">
        <span class="font-semibold text-sm"><%= line_item.quantity %></span><span class="text-sm">x</span>
      </div>
    </div>
    <div class="flex-1">
      <h2 class="font-bold text-xs text-gray-800"><%= line_item.menu_item.name %></h2>
      <h4 class="font-light text-xs text-gray-500">Sides, sauces, etc.</h4>
      <h3 class="font-semibold text-sm text-gray-800"><%= format_price line_item.menu_item.price %></h3>
    </div>
    <div class="pl-8 pr-4">
      <% unless readonly %>
        <%= link_to render(partial: "shared/trash"),
                    line_item_path(line_item),
                    data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </li>
<% end %>
