<%= turbo_frame_tag "modal" do %>
  <section class="modal" data-controller="modal" data-action="keyup@document->modal#escClose turbo:submit-end->modal#submitEnd">
    <button type="button" class="modal__backdrop" tabindex="-1" data-action="modal#close"></button>
    <div class="modal__window px-4 pt-8 pb-4">
      <h2 class="my-4 text-3xl font-bold"><%= @line_item.menu_item.name %></h2>
      <h3 class="my-2 text-sm text-gray-700"><%= @line_item.menu_item.description %></h3>
      <%= render @line_item.menu_item.modifications %>
      <footer class="flex justify-end">
        <%= button_to "Add to cart - #{format_price @line_item.menu_item.price}",
                      menu_item_line_items_path(@line_item.menu_item),
                      class: "px-4 py-2 bg-red-600 rounded-full text-white font-semibold",
                      params: { line_item: { menu_item_id: @line_item.menu_item.id, quantity: 1 } } %>
      </footer>
    </div>
  </section>
<% end %>
